node-red_flows/WADMP_flow_1.json
[
    {
      "id": "80256c0e.3141f",
      "type": "tab",
      "label": "WADMP_flow_1",
      "disabled": false,
      "info": ""
    },
    {
      "id": "8c5c5c2.0958ba",
      "type": "http request",
      "z": "80256c0e.3141f",
      "name": "login",
      "method": "POST",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://gateway.wadmp.com/public/auth/connect/token",
      "tls": "6869d2b1.9ce34c",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 610,
      "y": 100,
      "wires": [
        [
          "43bd05fd.ceec9c"
        ]
      ],
      "info": "POST request which should return a JSON Web Token"
    },
    {
      "id": "c06a3f41.cbc68",
      "type": "change",
      "z": "80256c0e.3141f",
      "name": "headers",
      "rules": [
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "{\"Content-Type\":\"application/x-www-form-urlencoded\"}",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 280,
      "y": 100,
      "wires": [
        [
          "8c5c5c2.0958ba"
        ]
      ]
    },
    {
      "id": "3458b7fa.b9f978",
      "type": "inject",
      "z": "80256c0e.3141f",
      "name": "START",
      "topic": "",
      "payload": "{\"username\": \"USERNAME\",\"password\":\"PASSWORD\",\"client_id\":\"python\",\"grant_type\":\"password\"}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 110,
      "y": 100,
      "wires": [
        [
          "c06a3f41.cbc68"
        ]
      ]
    },
    {
      "id": "e187be2b.89114",
      "type": "debug",
      "z": "80256c0e.3141f",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 850,
      "y": 300,
      "wires": []
    },
    {
      "id": "d3b6700c.fe6fa",
      "type": "http request",
      "z": "80256c0e.3141f",
      "name": "GET companies",
      "method": "GET",
      "ret": "obj",
      "paytoqs": true,
      "url": "https://gateway.wadmp.com/api/companies",
      "tls": "6869d2b1.9ce34c",
      "persist": true,
      "proxy": "",
      "authType": "",
      "x": 640,
      "y": 200,
      "wires": [
        [
          "e187be2b.89114"
        ]
      ]
    },
    {
      "id": "787c46c.649efb8",
      "type": "change",
      "z": "80256c0e.3141f",
      "name": "query",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{\"name\":null}",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 450,
      "y": 200,
      "wires": [
        [
          "d3b6700c.fe6fa"
        ]
      ]
    },
    {
      "id": "4f6cb937.6b61d8",
      "type": "template",
      "z": "80256c0e.3141f",
      "name": "headers",
      "field": "headers",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"Authorization\": \"Bearer {{{payload.access_token}}}\"\n}",
      "output": "json",
      "x": 280,
      "y": 200,
      "wires": [
        [
          "787c46c.649efb8"
        ]
      ]
    },
    {
      "id": "261774de.d2444c",
      "type": "comment",
      "z": "80256c0e.3141f",
      "name": "README",
      "info": "# Introduction\nThis flow is intended to show you how to use Node-RED to consume the public HTTP (or \"REST\") API that is served by WebAccess/DMP.\n\n# Requirements\nIn order to use this flow, you must have an existing account on https://wadmp.com.\n\n# Usage\n - Edit the JSON payload in the \"START\" node to include your Username (which is an email address) and Password;\n - Click \"Deploy\" in the Node-RED UI;\n - Click the input button on the \"START\" node.\n - Look at the Debug window in the Node-RED UI to see the returned objects.\n\n# Explanation\nThe WebAccess/DMP HTTP API has various endpoints. They are all listed here: https://api.wadmp.com/\n\nNode-RED provides a `http request` node in the default palette. You can use this to send a request to any endpoint and receive the response from the server.\n\nIn order to use any endpoint, you must be authenticated. The WA/DMP server uses \"Bearer\" auth, which means that you need to include a login token in the \"Authorization\" header that accompanies every request.\n\nYou obtain this token (which is actually a JSON Web Token, or JWT) using the `login` node.\n\nIn the payload to the `login` node you will notice that we are using an OAuth client called \"python\". This is a standard OAuth client on all WA/DMP servers, because most of our example code is written in Python.\nBut you could of course create a new OAuth client for your own use: using the `POST /api-clients` endpoint.\n\nThe other details of the flow are really more about the idiosyncrasies of Node-RED than WebAccess/DMP.\nRemember that Node-RED is just a tool based on JavaScript. You can use ANY language and any tool to consume the WebAccess/DMP API, because it is standard HTTP/REST.\n\n# More information\nAll WebAccess/DMP documentation is available here: https://docs.wadmp.com/",
      "x": 100,
      "y": 40,
      "wires": []
    },
    {
      "id": "3b6ccaa4.f2fb26",
      "type": "http request",
      "z": "80256c0e.3141f",
      "name": "GET users",
      "method": "GET",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://gateway.wadmp.com/api/users",
      "tls": "6869d2b1.9ce34c",
      "persist": true,
      "proxy": "",
      "authType": "",
      "x": 630,
      "y": 300,
      "wires": [
        [
          "e187be2b.89114"
        ]
      ]
    },
    {
      "id": "8658c536.c09328",
      "type": "template",
      "z": "80256c0e.3141f",
      "name": "headers",
      "field": "headers",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"Authorization\": \"Bearer {{{payload.access_token}}}\"\n}",
      "output": "json",
      "x": 280,
      "y": 300,
      "wires": [
        [
          "3b6ccaa4.f2fb26"
        ]
      ]
    },
    {
      "id": "43bd05fd.ceec9c",
      "type": "link out",
      "z": "80256c0e.3141f",
      "name": "token",
      "links": [
        "37e8e9e4.e2aea6",
        "bae19b9d.adb9a8",
        "a23ba231.b7e85"
      ],
      "x": 775,
      "y": 100,
      "wires": []
    },
    {
      "id": "37e8e9e4.e2aea6",
      "type": "link in",
      "z": "80256c0e.3141f",
      "name": "",
      "links": [
        "43bd05fd.ceec9c"
      ],
      "x": 155,
      "y": 200,
      "wires": [
        [
          "4f6cb937.6b61d8"
        ]
      ]
    },
    {
      "id": "bae19b9d.adb9a8",
      "type": "link in",
      "z": "80256c0e.3141f",
      "name": "",
      "links": [
        "43bd05fd.ceec9c"
      ],
      "x": 155,
      "y": 300,
      "wires": [
        [
          "8658c536.c09328"
        ]
      ]
    },
    {
      "id": "77751b.fc0c1ae4",
      "type": "http request",
      "z": "80256c0e.3141f",
      "name": "GET devices",
      "method": "GET",
      "ret": "obj",
      "paytoqs": true,
      "url": "https://gateway.wadmp.com/api/management/devices",
      "tls": "6869d2b1.9ce34c",
      "persist": true,
      "proxy": "",
      "authType": "",
      "x": 630,
      "y": 400,
      "wires": [
        [
          "e187be2b.89114"
        ]
      ]
    },
    {
      "id": "a23ba231.b7e85",
      "type": "link in",
      "z": "80256c0e.3141f",
      "name": "",
      "links": [
        "43bd05fd.ceec9c"
      ],
      "x": 155,
      "y": 400,
      "wires": [
        [
          "2494ab0e.8bc5a4"
        ]
      ]
    },
    {
      "id": "2494ab0e.8bc5a4",
      "type": "template",
      "z": "80256c0e.3141f",
      "name": "headers",
      "field": "headers",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"Authorization\": \"Bearer {{{payload.access_token}}}\"\n}",
      "output": "json",
      "x": 280,
      "y": 400,
      "wires": [
        [
          "20a5bb4c.f53c94"
        ]
      ]
    },
    {
      "id": "20a5bb4c.f53c94",
      "type": "change",
      "z": "80256c0e.3141f",
      "name": "query",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{\"page\":1,\"pageSize\":100}",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 450,
      "y": 400,
      "wires": [
        [
          "77751b.fc0c1ae4"
        ]
      ]
    },
    {
      "id": "6869d2b1.9ce34c",
      "type": "tls-config",
      "z": "",
      "name": "",
      "cert": "",
      "key": "",
      "ca": "",
      "certname": "",
      "keyname": "",
      "caname": "",
      "servername": "",
      "verifyservercert": true
    }
  ]